body {
  margin:0;
  font-family: 'Cormorant Garamond', serif, sans-serif;
  background: #DDC3A6;
  color: #311700;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}